body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: verdana;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px;
	flex-wrap: wrap;
}
.nav-bar {
	background-color: #ff92a8;
	margin: 0%;	
	padding: 5px;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	flex-direction: row;
}
.myFlexedImage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 10%;
  max-height: 10%;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.paddingrl {
	padding-left: 5%;
	padding-right: 5%;
}
.box {
	background-color: #666764;
	border: 2px solid;
	border-color: black;
	cursor: pointer;
	width: 100px;
	height: 100px;
}
.box:hover {
	background-color: #7F7B82;
}
.flex-choice {
	display: flex;
	justify-content: space-around;
	margin: 0px;
	flex-wrap: wrap;
}
.choice-title {
	text-shadow: 
	0 0 4px black, 0 0 4px black, 0 0 4px black, 
	0 0 4px black, 0 0 4px black, 0 0 4px black, 
	0 0 4px black, 0 0 4px black, 0 0 4px black, 
	0 0 4px black, 0 0 4px black, 0 0 4px black, 
	0 0 4px black, 0 0 4px black, 0 0 4px black, 
	0 0 4px black, 0 0 4px black, 0 0 4px black, 
	0 0 4px black, 0 0 4px black;
}
.choice {
	position: relative;
	top: 0;
	left: 0;
	width: 50%;
}
.choice:hover {
	opacity: 0.7;
}
.choice-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.choice-image {
  position: relative;
  top: 0;
  left: 0;
}
.link-hover {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:inline
}
.background-red {
	background-image: linear-gradient(to right, #b92b27, #1565C0);
}
.tools-div {
	margin-left:5%;
	margin-right:5%;
	padding-right:5%;
	padding-left:5%;
	border-color:black;
	border:2px solid;
	border-radius:8px
}
.welcome-div {
}
.dropdown {
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding-top: 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

